#banner{
	background-color: #C8C8C8;
}
#footer{
	color:#FFFFFF;
	background-color:#0D3767;
	height: 119px;
}



.col-md-12.col{

	padding-bottom: 43px;
}
.col-md-4.columna{
	padding-bottom: 10px;
}

.nav.navbar-nav.carrito{
	background-color: orange;
	color:white;
	font-weight: bold;
	}
.logo{
	height: 150px;

	}

h1,h2,h3,h4,h5,h6{
	color:#0D3767;

}
p{
	font-size: 19px;
}
.img-responsive{
	margin:auto;
}
.form-horizontal{
	padding: 7px; 
	background-color:#F2F2F2;
	color:#0D3767;
	margin-bottom: 20px;
	width: 720px;
	
}
.carousel-inner{

	box-shadow: 0px 10px 15px #0E3768;
}
.texto{
	color:#0E3768; font-weight:bold;
}

.navbar-collapse{
		box-shadow: 0px 10px 15px #0E3768;
}
.navbarbottom{
	margin-bottom: 30px;

}
.carousel.slide{
	top:-40px;
}
.fondoCat{
	background-color: #EEEEEE;
	padding: 7px;
}
#cartTableBody tr{
	border-bottom: 1px solid #676858;
}

#cartTableBody tr:hover{
 
}
.fondogris{
	
	padding:7px;
}

.italic{
	font-style: italic;
}