#banner{
	background-color: #C8C8C8;
}
#footer{
	color:#FFFFFF;
	background-color:#0D3767;
	height: 119px;
}



.col-md-12.col{

	padding-bottom: 43px;
}
.col-md-4.columna{
	padding-bottom: 10px;
}

.nav.navbar-nav.carrito{
	background-color: orange;
	color:white;
	font-weight: bold;
	}
.logo{
	height: 150px;

	}

h2{
	color:#0D3767;
}
p{
	font-size: 19px;
}
.img-responsive{
	margin:auto;
}
.form-horizontal{
	padding: 7px; 
	background-color: #C8C8C8;
	color:#0D3767;
	margin-bottom: 20px;
}
.carousel-inner{

	box-shadow: 0px 10px 15px #0E3768;
}
